/dest
/kdest
/Makefile*
/makefile*
tags
/bin
/lib
/config/.default
/utils/TransLz
test.err*
test.out*
POPS*
INITIATORStats
FCIMCStats
Blocks_Shift
TMAT
NodeFile*
Blocks*
ORBOCC*
InitPops*
SpaceMCStats
CORESPACE
SPECTRAL_DATA
FCIMCStats*
overlap.*
hamil.*
lowdin.*
gram_schmidt.*
RDMEstimates
TwoRDM*
OneRDM
spinfree_TwoRDM*
NO_*
FTLM_EIGV
EIGV_DATA
DETFILE
fciqmc_stats*
fort.7
*.x
build/*
*.pyc
.idea
build*/
*~
*.save
.*f
.*F90
\\
*.swp
