/dest
/kdest
/Makefile*
/makefile*
tags
/bin
/lib
/config/.default
/utils/TransLz
test.err*
test.out*
POPS*
INITIATORStats
initiator_stats*
FCIMCStats
Blocks_Shift
TMAT
NodeFile*
Blocks*
ORBOCC*
InitPops*
SpaceMCStats
CORESPACE
SPECTRAL_DATA
FCIMCStats*
overlap.*
hamil.*
lowdin.*
gram_schmidt.*
RDMEstimates*
TwoRDM*
OneRDM*
spinfree_TwoRDM*
NO_*
ROFCIDUMP
FTLM_EIGV
EIGV_DATA
DETFILE
fciqmc_stats*
fort.7
*.x
build/*
*.pyc
.idea
build*/
*~
*.save
.*f
.*F90
\\
*.swo
*.swp
fort.7
frequency_hist*
double_occupancy_stat*
.nfs*
UMAT
popsfile.h5*
RDM_POPSFILE
replica_estimates

# Documentation
neci.fdb_latexmk
neci.fls
neci.synctex.gz
neci_dev.pdf
