/dest
build*/
.*
/kdest
/Makefile*
/makefile*
tags
/bin
/lib
/config/.default
/utils/TransLz
test.err*
test.out*
POPS*
INITIATORStats
initiator_stats*
FCIMCStats
Blocks_Shift
TMAT
NodeFile*
Blocks*
ORBOCC*
InitPops*
SpaceMCStats
CORESPACE
SPECTRAL_DATA
FCIMCStats*
overlap.*
hamil.*
lowdin.*
gram_schmidt.*
RDMEstimates*
TwoRDM*
OneRDM*
spinfree_TwoRDM*
Inits_TwoRDM_*
InitsOneRDM.*
InitsRDMEstimates
NO_*
FTLM_EIGV
EIGV_DATA
DETFILE
fciqmc_stats*
fort.7
*.x
*.swp
*~
*.save
build/*
*.pyc
.idea
*~
*.save
.*f
.*F90
\\
UMAT
build*
OneRDM.*
contribs_guga.*
pgen_vs_*
dmrg.conf
dmrg_out
ROFCIDUMP
testcode_data*
*.swo
fort.7
frequency_hist*
double_occupancy_stat*
.nfs*
popsfile.h5*
RDM_POPSFILE
replica_estimates

# Documentation
neci.fdb_latexmk
neci.fls
neci.synctex.gz
neci_dev.pdf
doc/*
*pdf
