.buildinfo
/.sphinx/build/doctrees
/.sphinx/build/latex/neci.aux
/.sphinx/build/latex/neci.idx
/.sphinx/build/latex/neci.ilg
/.sphinx/build/latex/neci.ind
/.sphinx/build/latex/neci.log
/.sphinx/build/latex/neci.out
/.sphinx/build/latex/neci.toc
