indent=4
whitespace=4
line-length=140
whitespace-comma=true
whitespace-assignment=true
whitespace-relational=true
whitespace-logical=true
whitespace-plusminus=true
whitespace-multdiv=true
whitespace-print=true
whitespace-type=false
whitespace-intrinsics=false
enable-replacements=true
c-relations=true
